<!DOCTYPE html>
<html>
<head>
  <title>Amd</title>
  <%= stylesheet_link_tag    "amd/application", media: "all" %>
  <%= javascript_include_tag "amd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
